<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/signin.css">
    <title>Login</title>
</head>
<body class="text-center">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text"></span>
      </div>
    </a>
    
    <form class="form-signin" method="POST" action="/logincheck">
      <input type="text" name="user_id" class="form-control" placeholder="ユーザID" required="" autofocus="">
      <input type="password" name="password" class="form-control" placeholder="パスワード" required="">
      <button class="btn btn-lg btn-outline-primary btn-block" type="submit">ログイン</button>
      <p class="mt-4 mb-3 text-muted">（ログインいらんかな、、）</p>
    </form>
</body>
</html>